<!DOCTYPE html>
<html ng-app="thisApp">
  <head>
    <link rel='stylesheet' href='/stylesheets/bootstrap.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/upload.css">
    <link rel='stylesheet' href='/stylesheets/style.css' >

    <script src='/javascripts/jquery.js'></script>
    <script src='/javascripts/angular.js'></script>
    <script src='/javascripts/module.js'></script>
    <script class="jsbin" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script src='/javascripts/upload.js'></script>


  </head>
  <body id="container" ng-controller="thisController">
        <div class="col-xs-2"></div>
        <div class="col-xs-8" id="title">DRESSWELL</div>
        <div class="col-xs-1"></div>
        <div class="col-xs-1"></div>
        <div id="choicebar" class="col-xs-12">
            <div class="col-xs-4 btn-default" ng-click="show = true;generate = false;submit='Match my Wardrobe!';">match my wardrobe</div>
            <div class="col-xs-4 btn-danger" ng-click="show = true;generate = false;submit='Give Me an Outfit!';">give me an outfit</div>
            <div class="col-xs-4 btn-default" ng-click="show = true;generate = false;submit='Give me General Advice!';">general advice</div>
        </div>
        <div class="col-xs-12" id="consult" ng-show="show">

            <div class="file-upload">
                <div class="image-upload-wrap">
                    <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
                    <div class="drag-text">
                        <h3>Click or Drag to Upload Image</h3>
                    </div>
                </div>
                <div class="file-upload-content">
                    <img class="file-upload-image" src="#" alt="your image" />
                    <div class="image-title-wrap">
                        <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                    </div>
                </div>
            </div>

            <!-- MAIN FORM -->
            <div id="consultform" class="form-group col-xs-12">
                <textarea type="text" class="col-xs-12 form-control " id="inputGroupSuccess2" placeholder="Tell us more..."></textarea>
                <submit class="file-upload-btn col-xs-10" ng-click="loadNow();">{{submit}}</submit>
            </div>
        </div>

        <div id="spin" class="col-xs-12" ng-show="loads">

            <div class="col-xs-12">
            <i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
            </div>
            <div class="col-xs-12">Please Wait
            </div>

        </div>

        <div class="col-xs-12" id="generate" ng-show="generate">

            <div class="col-xs-12">
                <div class="col-xs-5"></div>
                <div id="vote" class="col-xs-2" ng-show="vote">
                    <i class="fa fa-thumbs-up fa-5x" ></i>
                    YES!
                </div>
                <div id="vote" class="col-xs-2" ng-show="!(vote)">
                    <i class="fa fa-thumbs-down fa-5x" ></i>
                    NO!
                </div>
                <div class="col-xs-5"></div>
                <div class="col-xs-12" style="text-align:center; color:black;">Some other items to match you..</div>
            </div>
            <div ng-repeat="outfit in recommendations[0]">
                <div class="col-md-3" ng-repeat="item in outfit">
                    <a ng-href="{{item.link}}">
                    <img class="img-responsive" ng-srcset="{{item.photo}}">
                        <div class="clothingitem">
                            <div>{{item.brand}} {{item.name}}</div>
                            <div>{{item.price}}</div>
                        </div>
                    </a>
                </div >
            </div>
        </div>

        <div id="footerfake" class="col-xs-12"></div>
        <div id="footer" class="col-xs-12 form-inline">
            <div class="col-xs-2"></div>
            <div class="col-xs-8 form-group">

                <span class="col-xs-12">
                Dress better, forever. Go PRO and browse through popular styles, your advice history and detailed advice from top fashion experts.
                </span>

                <input type="text" class="col-xs-8" id="signup" placeholder="Email">
                <submit class="btn-danger col-xs-4">Sign Up</submit>
            </div>
            <div class="col-xs-2"></div>
        </div>

  </body>
</html>
