@font-face {
    font-family: custombarfont;
    src: url(AvenirLTStd-Black.otf);
}

#title{
    font-family: Garamond;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: black;

}

div, img, #choicebar, #consult{
    font-family: custombarfont;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html{
    margin: 0;
    padding: 0;
    background: white;
}

#banner{
    height: 200px;
    text-align: left;
    color:black;
}

#banner > div > i{
    padding-top: 90px;
}

#banner{
    font-size: 20px;
    text-align: center;
}

#choicebar > div{
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  text-decoration: none;
}

a {
  color: #00B7FF;
}

.btn-default,  #footer{
    background-color: #323232;
    color:white;
}

.btn-default:hover{
    background-color: grey;
    color:white;
}

.img-responsive {
    margin: 0 auto;
    cursor: pointer;
}

.input-group{
    margin:0;
    padding: 0;
}

#consultform > submit{
    margin-top: 10px;
}

#consultform{
    text-align:center;
}

#generate{
    margin: 0;
    padding: 0;
}

#generate img{
    height:200px;
    width:auto;
    margin: 0 auto;
}

#generate a:hover{
    color: white;
    text-decoration: none;
}

.clothingitem{
    background: #e51c23;
    color: white;
    text-align: center;
}

.clothingitem:hover{
    background: darkred;
}

.entry{

}

#spin{
    padding:20px;
    font-size: 16px;
    margin:0 auto;
    text-align: center;
}

#voteup, #votedown{
    padding-top: 10px;
    font-size: 50px;
    text-align: center;
    color: black;
}

#footerfake{
    height:120px;
}

#footer
{
    padding: 10px 0;
    position:fixed;
    bottom: 0;
}

#footer  span{
    padding:0;
}
#footer input,#footer submit{
    padding: 5px;
    text-align: center;
    margin: 0;
}
#footer input{
    padding-left: 10px;
    text-align: left;
}