@font-face {
    font-family: custombarfont;
    src: url(AvenirLTStd-Black.otf);
}

#title{
    font-family: Garamond;
    font-weight: 600;
    font-size: 30px;
    text-align: center;
    color: black;

}

div, img, #choicebar, #consult{
    font-family: custombarfont;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

html{
    margin: 0;
    padding: 0;
    background: white;
}

#choicebar > div {
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

a {
  color: #00B7FF;
}

.btn-default{
    background-color: #323232;
    color:white;
}

.btn-default:hover{
    background-color: grey;
    color:white;
}

.img-responsive {
    margin: 0 auto;
    cursor: pointer;
}

.input-group{
    margin:0;
    padding: 0;
}

#consult > submit{
    text-align: center;
    padding-top:10px;
    padding-bottom: 10px;
    font-size: 16px;
}

#generate{
    margin: 0;
    padding: 0;
}

#generate img{
    height:200px;
    width:auto;
    margin: 0 auto;
}

#generate a:hover{
    color: white;
    text-decoration: none;
}

.clothingitem{
    background: #e51c23;
    color: white;
    text-align: center;
}

.clothingitem:hover{
    background: darkred;
}


#spin{
    padding:20px;
    font-size: 16px;
    margin:0 auto;
    text-align: center;
}

#vote{
    padding-top: 10px;
    font-size: 50px;
    text-align: center;
    color: black;
}
